.CLFContainer {
    box-sizing: border-box;
    width: 320px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 250px;
}

.CLFContainer__StockSearchBox {
    display: inline-block;
    margin-right: 1rem;
}

.CLFContainer__SearchDropdownMenu {
    max-height: 100px;
    overflow-y: scroll;
    width: 164px;
    border-radius: 5px;
    background-color: #e7e7e7c9;
    cursor: pointer;
    left: 22px;
    top: 54px;
    position: absolute;
    z-index: 1;
    font-weight: 500;
}

.CLFContainer__Result {
    position: absolute;
    width: 100%;
    top: 6em;
}

.CLFContainer__Result__StockName {
    display: inline-block;
    width: 50%;
    font-weight: 500;
    font-size: larger;
}

.CLFContainer__Result__BuyOrSkip {
    display: inline-block;
    width: 50%;
    font-size: larger;
}

.CLFContainer__Result__BuyOrSkip--Green {
    color: Green;
}

.CLFContainer__Result__BuyOrSkip--Red {
    color: Red;
}