.ContentContainer {
    height: calc(100% - 70px);
    box-sizing: border-box;
    left: 110px;
    position: absolute;
    width: calc(100% - 110px);
    min-height: 120px;
}
h1 {
    padding: 2em;
}
h2 {
    padding: 2em;
}
