.HeaderBar {
    height: 70px;
    background: linear-gradient(
            90deg
            , #558ec3, #2653ba);
    box-shadow: 0px 0px 8px 1px;
    position: relative;
    z-index: 2;
}

.HeaderBar__Username {
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    cursor: default;
}

.HeaderBar__Logo {
    height: 65%;
    top: 50%;
    left: 1em;
    transform: translateY(-50%);
    position: absolute;
}