.NavButton {
    position: relative;
    padding: 1.5rem 0 1.5rem 0;
}

.NavButton:hover > .NavButton__Selected {
    border: 3px solid #3E71BF;
    height: 100%;
    display: inline-block;
    position: absolute;
    left: 0%;
    top: 0%;
}

.NavButton__Selected--Clicked {
    border: 3px solid #3E71BF;
    height: 100%;
    display: inline-block;
    position: absolute;
    left: 0%;
    top: 0%;
}

.NavButton__Icon {
    font-size: 2.1rem;
    color: #3E71BF;
}

.NavButton__Label {
    display: block;
    color: gray;
    font-weight: 500;
}

.NavButton:hover {
    cursor: default;
}